<%= render partial: 'navs/main_nav' %>

<h2>Stat Pick</h2>
<p>The Stat Pick section of this site is the bulk of the current evaluative work being done by this app.</p>
<p>The Stat Pick is based on a 100 point system:</p>
<p>20 points come from the  current professional pick and ban rates for the hero</p>
<p>30 points come from the overall win rate of the hero across all levels of play</p>
<p>25 points come from the individual player's amount of experience with the hero</p>
<p>25 points come from the individual player's win rate with the hero</p>
<p>Each category has an initial value, like the win rate, games played, or number of picks and bans</p>
<p>These values are then placed into a group together and then clumped into smaller groups to allocate a point value</p>
<p>From this point system, a group of 10 top heroes is created, and one is randomly selected to be the stat pick</p>
<p>This final layer of randomization prevents the Stat Pick from being the same every time</p>

<h2>Fun Pick</h2>
<p>The Fun Pick section of this site is first and foremost, a user driven selection derived from heroes they find fun</p>
<p>In the settings page the user can set the hero pool from which they would like to play</p>
<p>From that fun hero pool, the user based statistics (experience and win rate for the user), are used to select a pick</p>

<h2>Random Pick</h2>
<p>The random pick section of this site is dedicated to allowing the user to have random picks selected for them</p>
<p>The value of this section is that in game, there is no way to both random a hero, while also avoiding certain others</p>
<p>In the User settings page, the user can select a pool of heroes that they do not want to random</p>
<p>By including as few heroes as possible, the user keeps this section as entertaining as they can</p>
