<main class='welcome_page'>
  <h1>Welcome to PlayMe!</h1>
  <p>PlayMe is a tool to enhance the pick selection process, or enable more educate critiques of picks that have already occured.</p>
  <p>PlayMe can either be used to analyze your Dota2 match history to give some suggestions of heros you may find fun in the current game, or can analyze performances of team mates in one of your recent games and reinforce your knowledge that their pick was bad.</p>
</main>
