<nav class='main_nav' %>
  <ul>
    <li><img src='http://placekitten.com/400/75' /></li>
    <li><p>A tool for enhancing the hero selection process in Dota2... for better or worse</p></li>
    <li><p class='main_metrics'>HOME</p></li>
    <li><p class='login'>LOGIN</p></li>
    <li>
      <input type='text' placeholder="Search">
    </li>
  </ul>
</nav>
