<nav class='main_nav' %>
  <ul>
    <li><img src='http://placekitten.com/400/75' /></li>
    <li><p>A tool for enhancing the hero selection process in Dota2... for better or worse</p></li>
    <% unless current_user %>
      <li><%= link_to 'Login', login_path %></li>
    <% else %>
      <li><%= link_to 'Home', user_path(current_user) %></li>
    <% end %>
    <li><%= link_to "Sign Up!", new_user_path %></li>
    <li>
      <input type='text' placeholder="Search">
    </li>
  </ul>
</nav>
