<main class='login'>
  <%= form_with(url: '/sessions', method: 'get') do %>
    <%= email_field_tag(:email) %>

    <%= password_field_tag(:password) %>

    <%= submit_tag 'Login' %>
  <% end %>
</main>
