.main_nav {
  height: 15vh;
}

.main_nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.main_nav li {
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.main_nav img {
  width: 33vw;
}

.main_nav p {
  border-left: 300px;
}

.main_metrics {
  width: 11vw;
}

.login {
  width: 11vw;
}

.main_nav input {
  width: 12vw;
}
