.play_or_flame {
  display: flex;
  flex-direction: row;
  height: 13vh;
  margin-top: 0px;
}

.play_or_flame img {
  width: 50vw;
  border: solid 1px black;
}

.play_or_flame img:hover {
  box-shadow: 0 5px 25px rgba(0,0,0,1);
}
