main {
  margin-top: 5vh;
  margin-left: 15vw;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

main h2 {
  align-self: center;
}

main img {
  width: 5vw;
  height: 7vh;
}

.heroes img {
  height: 10vh;
  width: 7vw;
}

.heroes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
